*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    padding-bottom: 50px;
}
.headerContainer{
    max-width: 900px;
    margin: 40px auto;
}
.container{
    display: flex;
    max-width: 900px;
    margin: auto;
}
.container .leftside{
    flex: 1;
    margin-right: 40px;
}
.container .leftside h1{
    margin: 0;
    font-size: 40px;
    color: #3A4B5C ;
}
.container .leftside p{
    font-size: 16px;
    margin-bottom: 40px;
    color: #6A7D8B;
}
.container .leftside input{
    width: 100%;
    border: 0 none;
    outline: 0;
    border-bottom: 2px solid rgb(150, 163, 171, .5);
    padding: 10px 2px;
    margin-bottom: 40px;
    font-size: 14;
}
.container .leftside input:disabled{
    opacity: .5;
}
.container .leftside button{
    background-color: #227C90;
    color: #FFF;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    padding:  15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 40px;
    transition: 0.3s;
}
.container .leftside button:hover{
    opacity: 0.7;
    transition: 0.3s;
}
.container .leftside button:disabled{
    opacity: 0.5;
}


.container .rightside{
    flex: 1;
    margin-left: 40px;
    display: flex;
}
.container .rightside .grid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.container .rightside .rightBig{
    flex: 1;
    display: flex;
}
.yourImc{
    font-size: 17px;
    margin: 10px 0 50px 0;
}
.container .rightside .rightArrow{
    position: absolute;
    background-color:#227C9D ;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -35px;
    margin-top: 145px;
    transition: 0.7s;
}
.container .rightside .rightArrow:hover{
    opacity: .8;
    transition: 0.7s;
}

@media(max-width: 770px){
    header{
        padding: 0 20px;
    }
    .container{
        padding: 0 20;
        flex-direction: column;
    }
    .container .leftside{
        margin-left: 0;
    }
    .container .rightside{
        margin-left: 0;
        margin-top: 50px;
    }
    .container .rightside .rightArrow{
        margin-left: 0;
        margin-top: 0;
        border-radius: 10px;
    }
}
@media(max-width: 430px){
    .container .rightside .grid{
        grid-template-columns: 1fr;
    }
      .container .leftside button{
       margin-left: 17px;
    }
    .container .leftside input{
        margin-left: 17px;
    }
    .container .leftside p{
        margin-left: 35px;
    }
    .container .leftside h1{
        margin-left: 35px;
        font-size: 35px;
    }
}
